In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
# Read datasets
df_train = pd.read_csv('/content/drive/MyDrive/PosPuc/TCC/datasets/acidentes_ocorrencia/x_train.csv')
y_train = pd.read_csv('/content/drive/MyDrive/PosPuc/TCC/datasets/acidentes_ocorrencia/y_train.csv')

df_test = pd.read_csv('/content/drive/MyDrive/PosPuc/TCC/datasets/acidentes_ocorrencia/x_test.csv')
y_test = pd.read_csv('/content/drive/MyDrive/PosPuc/TCC/datasets/acidentes_ocorrencia/y_test.csv')

In [ ]:
# Sample dataset
df_train.head()

,dia_semana,uf,br,tipo_acidente,fase_dia,km_intervalo,mes,cond_metereologica
0,SABADO,RJ,116,CAPOTAMENTO,DIA,[300 - 350],NOV,CHUVA
1,QUINTA,SP,116,SAIDA,DIA,[500 - 550],SET,CEU CLARO
2,SEGUNDA,SP,101,CAPOTAMENTO,DIA,[0 - 50],FEV,CHUVA
3,SEGUNDA,SC,101,CAPOTAMENTO,DIA,[150 - 200],FEV,CHUVA
4,SABADO,RJ,101,SAIDA,NOITE,[150 - 200],MAI,CEU CLARO

In [ ]:
# Encoding variables
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore').fit(df_train)
x_train = ohe.transform(df_train).toarray()
x_test = ohe.transform(df_test).toarray()

[array(['DOMINGO', 'QUARTA', 'QUINTA', 'SABADO', 'SEGUNDA', 'SEXTA',
        'TERCA'], dtype=object),
 array(['RJ', 'SC', 'SP'], dtype=object),
 array([101, 116]),
 array(['ATROPELAMENTO', 'CAPOTAMENTO', 'COLISAO', 'OUTROS', 'QUEDA',
        'SAIDA', 'TOMBAMENTO'], dtype=object),
 array(['DIA', 'NOITE'], dtype=object),
 array(['[0 - 50]', '[100 - 150]', '[150 - 200]', '[200 - 250]',
        '[250 - 300]', '[300 - 350]', '[350 - 400]', '[400 - 450]',
        '[450 - 500]', '[50 - 100]', '[500 - 550]', '[550 - 600]'],
       dtype=object),
 array(['ABR', 'AGO', 'DEZ', 'FEV', 'JAN', 'JUL', 'JUN', 'MAI', 'MAR',
        'NOV', 'OUT', 'SET'], dtype=object),
 array(['CEU CLARO', 'CHUVA', 'NUBLADO', 'SOL'], dtype=object)]

In [ ]:
# Encode train / test dataset
x_train = ohe.transform(df_train).toarray()
x_test = ohe.transform(df_test).toarray()

In [ ]:
# Create random forest model
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor(random_state=42, oob_score=True)

In [ ]:
# Training model
rf_model.fit(x_train, y_train.values.ravel())

RandomForestRegressor(oob_score=True, random_state=42)

In [ ]:
rf_model.feature_importances_

In [ ]:
# Using grid to test hyperparameters
from sklearn.ensemble import RandomForestRegressor

grid_params = {
    'n_estimators': [50, 100, 200, 300],
    'criterion': ['absolute_error'],
    'max_depth': [10, 15, 20, 25, 30],
    'max_features': ['auto'],
    'random_state': [42]
}

from sklearn.model_selection import GridSearchCV
gr_search_cv = GridSearchCV(estimator=RandomForestRegressor(), param_grid=grid_params).fit(x_train, y_train.values.ravel())

In [ ]:
results = pd.DataFrame(gr_search_cv.cv_results_).sort_values(by=['rank_test_score'])

In [ ]:
filename = f"results_grid_{str(grid_params['n_estimators'][0])}"
results.to_csv(f'/content/drive/MyDrive/PosPuc/TCC/datasets/df_processeds/{filename}.csv', index=False, encoding='utf-8')