In [32]:
import pandas as pd
from preprocessing import preprocessamento, missing

pre = preprocessamento.Preprocessamento()

df1, df2, df3, df4, df5 = map(pre.ler_csv, ['imob1.csv', 'imob2.csv',
                                            'imob3.csv', 'imob4.csv',
                                            'imob5.csv'])

lista = [df1, df2, df3, df4, df5]

df3['banheiros'] = df3['suites']
df4['banheiros'] = df4['suites']

for l in lista:
    l.drop(columns='suites', inplace=True)

dataset = pre.concatenar_datasets([df1, df2, df3, df4, df5])
dataset = dataset.iloc[:, 2:]
dataset = pre.ajustar_texto(dataset)
dataset = pre.ajustar_nomes_bairros(dataset)
dataset.loc[dataset['area'] <= 1, 'area']

0       0.0
4       0.0
6       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
15      0.0
16      0.0
17      0.0
19      0.0
20      0.0
22      0.0
23      0.0
24      0.0
25      0.0
31      0.0
56      0.0
58      0.0
60      0.0
61      0.0
62      0.0
65      0.0
66      0.0
68      0.0
70      0.0
72      0.0
81      0.0
84      0.0
       ...
1300    0.0
1301    0.0
1303    0.0
1304    0.0
1305    0.0
1306    0.0
1308    0.0
1309    0.0
1313    0.0
1316    0.0
1317    0.0
1318    0.0
1319    0.0
1321    0.0
1328    0.0
1330    0.0
1333    0.0
1334    0.0
1336    0.0
1337    0.0
1338    0.0
1339    0.0
1341    0.0
1342    0.0
1346    0.0
1349    0.0
1350    0.0
1351    0.0
1352    0.0
1354    0.0
Name: area, Length: 1001, dtype: float64

In [33]:
dataset.loc[dataset['area'] <= 1,
            'area'] = dataset.loc[dataset['area'] > 1, 'area'].mean()
dataset.loc[dataset['valor'] == 0,
            'valor'] = dataset.loc[dataset['valor'] != 0, 'valor'].mean()

In [41]:
# dataset = dataset.iloc[:, 0:].values
x = dataset.iloc[:, 0:5].values
#colunas = [1, 2, 4, 5]
#dataset = missing.missing_values(dataset, colunas)
#x = dataset[:, 0:5]
#y = dataset[:, 5]
dataset.loc[dataset['area'] > 1, 'area'].mean()

101.83683473389353

In [44]:
dataset['area'].value_counts()

101.836835    1001
120.000000      10
90.000000        8
131.790000       8
60.000000        8
43.730000        8
72.920000        8
93.000000        6
100.860000       6
68.040000        6
65.370000        6
180.000000       6
65.010000        6
66.450000        6
69.870000        6
66.940000        6
75.460000        6
48.000000        6
85.000000        6
65.000000        5
74.000000        4
83.710000        4
78.590000        4
113.370000       4
115.000000       4
153.040000       4
87.950000        4
85.540000        4
63.850000        4
110.000000       4
              ...
113.160000       2
69.750000        2
91.560000        2
100.930000       2
123.320000       2
83.000000        2
58.100000        2
71.590000        2
58.260000        2
55.490000        2
77.350000        2
60.650000        2
82.050000        2
143.380000       2
113.790000       2
111.000000       2
125.400000       2
153.250000       2
175.000000       2
77.000000        2
150.000000       2
113.000000       2
142.000000       2
600.000000       2
40.500000        2
75.000000        2
23.500000        2
78.450000        1
130.100000       1
130.450000       1
Name: area, Length: 121, dtype: int64

In [43]:
dataset

,bairro,quartos,banheiros,garagens,area,valor
0,Ibituruna,3,0,0,101.836835,328417.503771
1,Todos Os Santos,1,0,0,23.500000,328417.503771
2,Belvedere,2,1,1,48.680000,328417.503771
3,Monte Alegre,2,1,1,46.380000,328417.503771
4,Todos Os Santos,3,3,0,101.836835,328417.503771
5,Jardim Liberdade,3,2,1,85.540000,328417.503771
6,Candida Camara,3,3,2,101.836835,328417.503771
7,Planalto,2,1,1,48.000000,328417.503771
8,Planalto,2,1,1,48.000000,328417.503771
9,Todos Os Santos,3,2,0,101.836835,328417.503771
10,Todos Os Santos,2,3,0,101.836835,328417.503771
11,Todos Os Santos,3,2,0,101.836835,328417.503771
12,Planalto,2,1,1,101.836835,95000.000000
13,Belvedere,2,1,1,101.836835,98000.000000
14,Belvedere,2,1,0,43.030000,120000.000000
15,Belvedere,2,1,1,101.836835,120000.000000
16,Jardim Panorama,2,1,0,101.836835,125000.000000
17,Centro,1,1,0,101.836835,130000.000000
18,Morrinhos,2,1,0,82.050000,130000.000000
19,Belvedere,2,1,1,101.836835,130000.000000
20,Santa Laura,2,2,2,101.836835,135000.000000
21,Alice Maia,3,1,1,66.100000,135000.000000
22,Santa Laura,2,2,2,101.836835,135000.000000
23,Sao Mateus,2,1,1,101.836835,140000.000000
24,Santa Laura,2,2,2,101.836835,140000.000000
25,Santa Laura,2,2,2,101.836835,140000.000000
26,Cintra,2,1,1,74.800000,140000.000000
27,Sao Judas Tadeu,2,1,2,43.730000,147000.000000
28,Sao Judas Tadeu,2,1,2,43.730000,147000.000000
29,Sao Judas Tadeu,2,1,2,43.730000,147000.000000
...,...,...,...,...,...,...
1328,Ibituruna,3,2,2,101.836835,10000.000000
1329,Jardim Panorama,2,2,1,65.000000,215000.000000
1330,Sao Jose,4,3,1,101.836835,285000.000000
1331,Augusta Mota,3,1,2,90.000000,320000.000000
1332,Augusta Mota,3,1,2,90.000000,340000.000000
1333,Centro,4,5,2,101.836835,750000.000000
1334,Centro,3,1,1,101.836835,300000.000000
1335,Candida Camara,4,3,2,176.000000,900000.000000
1336,Centro,4,3,2,101.836835,600000.000000
1337,Planalto,2,1,1,101.836835,140000.000000
1338,Candida Camara,0,0,0,101.836835,328417.503771
1339,Morada Do Sol,3,1,1,101.836835,220000.000000
1340,Centro,2,1,1,66.000000,300000.000000
1341,Centro,3,2,2,101.836835,650000.000000
1342,Centro,2,1,1,101.836835,190000.000000
1343,Jardim Primavera,2,1,1,74.000000,120000.000000
1344,Belvedere,2,1,1,43.000000,130000.000000
1345,Jardim Primavera,1,1,1,74.000000,120000.000000
1346,Melo,3,1,1,101.836835,330000.000000
1347,Cidade Santa Maria,3,1,2,122.000000,550000.000000
1348,Morada Do Sol,2,1,1,60.000000,150000.000000
1349,Melo,3,2,2,101.836835,328417.503771
1350,Centro,3,1,1,101.836835,230000.000000
1351,Ibituruna,3,2,2,101.836835,420000.000000
1352,Centro,3,1,1,101.836835,450000.000000
1353,Ibituruna,2,2,2,115.000000,390000.000000
1354,Melo,3,1,2,101.836835,640000.000000
1355,Ibituruna,2,1,2,60.000000,270000.000000
1356,Ibituruna,3,1,2,83.000000,300000.000000
1357,Augusta Mota,2,1,1,85.000000,300000.000000

In [7]:
x = missing.missing_values(x, [1, 2, 4])

In [8]:
pd.DataFrame(x)

                       0        1        2  3        4
0              Ibituruna        3  1.52658  0  82.9927
1        Todos Os Santos        1  1.52658  0     23.5
2              Belvedere        2        1  1    48.68
3           Monte Alegre        2        1  1    46.38
4        Todos Os Santos        3        3  0  82.9927
5       Jardim Liberdade        3        2  1    85.54
6         Candida Camara        3        3  2  82.9927
7               Planalto        2        1  1       48
8               Planalto        2        1  1       48
9        Todos Os Santos        3        2  0  82.9927
10       Todos Os Santos        2        3  0  82.9927
11       Todos Os Santos        3        2  0  82.9927
12              Planalto        2        1  1  82.9927
13             Belvedere        2        1  1  82.9927
14             Belvedere        2        1  0    43.03
15             Belvedere        2        1  1  82.9927
16       Jardim Panorama        2        1  0  82.9927
17                Centro        1        1  0  82.9927
18             Morrinhos        2        1  0    82.05
19             Belvedere        2        1  1  82.9927
20           Santa Laura        2        2  2  82.9927
21            Alice Maia        3        1  1     66.1
22           Santa Laura        2        2  2  82.9927
23            Sao Mateus        2        1  1  82.9927
24           Santa Laura        2        2  2  82.9927
25           Santa Laura        2        2  2  82.9927
26                Cintra        2        1  1     74.8
27       Sao Judas Tadeu        2        1  2    43.73
28       Sao Judas Tadeu        2        1  2    43.73
29       Sao Judas Tadeu        2        1  2    43.73
...                  ...      ...      ... ..      ...
1328           Ibituruna        3        2  2  82.9927
1329     Jardim Panorama        2        2  1       65
1330            Sao Jose        4        3  1  82.9927
1331        Augusta Mota        3        1  2       90
1332        Augusta Mota        3        1  2       90
1333              Centro        4        5  2  82.9927
1334              Centro        3        1  1  82.9927
1335      Candida Camara        4        3  2      176
1336              Centro        4        3  2  82.9927
1337            Planalto        2        1  1  82.9927
1338      Candida Camara  2.66298  1.52658  0  82.9927
1339       Morada Do Sol        3        1  1  82.9927
1340              Centro        2        1  1       66
1341              Centro        3        2  2  82.9927
1342              Centro        2        1  1  82.9927
1343    Jardim Primavera        2        1  1       74
1344           Belvedere        2        1  1       43
1345    Jardim Primavera        1        1  1       74
1346                Melo        3        1  1  82.9927
1347  Cidade Santa Maria        3        1  2      122
1348       Morada Do Sol        2        1  1       60
1349                Melo        3        2  2  82.9927
1350              Centro        3        1  1  82.9927
1351           Ibituruna        3        2  2  82.9927
1352              Centro        3        1  1  82.9927
1353           Ibituruna        2        2  2      115
1354                Melo        3        1  2  82.9927
1355           Ibituruna        2        1  2       60
1356           Ibituruna        3        1  2       83
1357        Augusta Mota        2        1  1       85

[1358 rows x 5 columns]

In [9]:
y = dataset.iloc[:, 5].values

In [16]:
y = missing.missing_values(y, [0])

IndexError: too many indices for array

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label = LabelEncoder()
x[:, 0] = label.fit_transform(x[:, 0])
onehot = OneHotEncoder(categorical_features=[0])
x = onehot.fit_transform(x).toarray()
x = x[:, 1:]

In [ ]:
pd.DataFrame(x)

In [ ]:
import statsmodels.formula.api as sm
import numpy as np
x = np.append(arr=np.ones((1358, 1)).astype(int), values=x, axis=1)
lista = list(range(0, 50))
x_opt = x[:, lista]

In [ ]:
pd.DataFrame(x_opt)

In [ ]:
ols = sm.OLS(endog=y, exog=x_opt).fit()

In [ ]:
ols.summary()